# Node
node_modules/
packages/**/node_modules/
**/node_modules/

# Vite
dist/
**/dist/

# Prisma
prisma/migrations/
_bmad-output/data/

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/coverage/**